.container-grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2em 0em;
    grid-auto-flow: row;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 90%;
}


.Nome-area {
    width: 30em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 1 / 1 / 2 / 4;
}

.Cep-area {
    width: 20em;
    grid-area: 1 / 3 / 2 / 5;
}

.Data-area {
    width: 18em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 1 / 5 / 2 / 7;
}

.Endereco-area {
    grid-area: 2 / 1 / 3 / 3;
    width: 22em;
    justify-self: end;
}

.Numero-area {
    grid-area: 2 / 2 / 3 / 4;
    width: 14em;
    justify-self: end;
}

.Bairro-area {
    grid-area: 2 / 4 / 3 / 6;
}
 
.Complemento-area {
    width: 18em;
    grid-area: 2 / 5 / 3 / 7;
}

    
.Email-area {
    width: 25em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 3 / 1 / 4 / 4;
}

.Celular-area {
    width: 13em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 3 / 3 / 4 / 5;
}

.Fixo1-area {
    width: 13em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 3 / 4 / 4 / 6;
}

.Fixo2-area {
    width: 13em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 3 / 5 / 4 / 7;
}

.Button-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    justify-self: stretch;
    grid-area: 4 / 1 / 5 / 7;
}