.container-grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2em 0em;
    grid-auto-flow: row;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.Nome-area {
    width: 25em;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 1 / 1 / 2 / 3;
}

.Email-area {
    width: 18em;
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 1 / 2 / 2 / 4;
}

.Cpf-area {
    width: 18em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 1 / 4 / 2 / 6;
}

.Status-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 1 / 5 / 2 / 7;
}

.Data-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 1 / 6 / 2 / 8;
}

.Cep-area {
    width: 20em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 2 / 1 / 3 / 3;
}

.Bairro-area {
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 2 / 2 / 3 / 4;
}

.Endereco-area {
    width: 18em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 2 / 4 / 3 / 6;
}

.Numero-area {
    width: 11em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 2 / 5 / 3 / 7;
}

.Complemento-area {
    width: 20em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: 2 / 6 / 3 / 8;
}

.Celular-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
    justify-items: center;
    align-items: center;
    justify-self: stretch;
    align-self: center;
    grid-area: 3 / 1 / 4 / 8;
}

.Button-Area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
    justify-items: center;
    align-items: center;
    justify-self: stretch;
    align-self: center;
    grid-area: 4 / 1 / 5 / 8;
}