[name="nome_procedimento"] {
    width: 30vw;
}

[name="valor_procedimento"]{
    width: 15vw;
}

[name= "genero"] {
    width: 10vw;
}

#nomef{
    width: 25vw;
}

#rua {
    width: 25vw;
}

#numero {
    width: 5vw;
}

#bairro {
    width: 10vw;
}

#cep {
    width: 10vw;
}

#complemento {
    width: 10vw;
}

#email {
    width: 20vw;
}



