#nome {
    width: 50vw;
}

#rua {
    width: 25vw;
}

#numero {
    width: 5vw;
}

#bairro {
    width: 10vw;
}

#cep {
    width: 10vw;
}

#complemento {
    width: 10vw;
}

#email {
    width: 20vw;
}



