[name="nome_procedimento"] {
    width: 30vw;
}

[name="valor_procedimento"]{
    width: 15vw;
}

[name="genero"] {
    width: 10vw;
}

[name="nomef"],
[name="nome"],
[name="nome-contato"],
[name="homepage"],
[name="cnpj"],
[name="email"],
[name="fixo1"],
[name="fixo2"],
[name="cep"],
[name="numero"],
[name="rua"],
[name="bairro"],
[name="complemento"],
[name="celular"]{
    width: 100%;
}




