@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

body {
    background-color: #304269;
}


h1 {
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.pai-area-formulario {
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: #bfddf6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tabela{border-radius: 3px;}

.pai-area-formulario table {
    border: 1px solid #304269;
    text-align: center;
}

.area-formulario {
    width: 100%;
}

.group-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.group {
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgba(255, 34, 255, 0.133);
    box-shadow: #333333 1px 2px 4px 1px;
    padding: 25px;
    margin: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}



.group label {
    font-size: 24px;
    padding: 10px 5px 10px 5px;
}

.group input {
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 2px solid white;
    width: 100%;
}

.group p {padding: 15px; font-size: 20px; text-align: center;}

.group-buttons input{
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    width: 8%;
}

.group-buttons button{
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    width: 8%;    
}

#b_medicos {background-color: #7de3ee;}
#b_limpar {background-color: #dfdd77;}
#b_cadastrar {background-color: #83d483;}

[href] {
    color: black;
}

table{border-collapse: collapse;}










